<div class="p-3 mb-2 bg-dark text-white"></div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">{{user.name}}</h2>
  </div><hr>
  <div class="panel-body">
    <div class="row">
       <div class="col-md-4">
       <img src="./assets/gitty.png">
       </div>
       <div class="col-md-8">
        <div class="container-fluid"  class="text-primary">
          <form>
          <div class="form-group">
           
            <label for="name">Github Name:</label>
            <input type="text" required class="form-control" id="name" placeholder="name" aria-label="Search">
          </div>
          <button type="submit" class="btn btn-primary">Search</button>
        </form>
        </div>
       </div>
    </div>
  </div>
  </div>

